<!doctype html>
<!-- pager -->
<div class="row">
	<div class="col-xs-2 col-xs-offset-5">
		<ul class="pager">
			<li class="previous"><a class="btn">&larr; Prev</a></li>
			<li class="next"><a class="btn">Next &rarr;</a></li>
		</ul>
		<input id="pages" type="hidden" value="{{pages}}">
		<input id="page" type="hidden" value="{{page}}">
	</div>
</div>