<!doctype html>
<!-- body -->
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Management</h4>
		</div>
	</div>
	<div class="row">
		<div class="alert alert-danger collapse col-xs-4 col-xs-offset-4">
			<span>{{failMsg}}</span>
		</div>
	</div>
	{{>footer}}
</div>