<!doctype html>
<!-- body -->
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">{{title}}</h4>
		</div>
		<div class="panel-body">
			<div class="row">
			</div>
		</div>
	</div>
	{{>footer}}
</div>