<!doctype html>
<!-- body -->
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Search Book</h4>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-1 col-lg-offset-3">
					<div id="key" class="dropdown">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="min-width:80px;">
							<span class="placeholder">Title</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li value="0"><a href="#">Title</a></li>
							<li value="1"><a href="#">Author</a></li>
							<li value="2"><a href="#">Type</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="input-group">
						<input id="content" type="text" class="form-control">
						<span class="input-group-btn">
							<button id="submit" type="button" class="btn btn-primary">Go!</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Random Books</h4>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<a href="#"><span class="glyphicon glyphicon-chevron-right"></span>Book 1</a>
					</td>
					<td>
						Author 1
					</td>
					<td>
						Type 1
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>