table {
	table-layout:fixed;
}

a {
	outline:none;
	-moz-outline:none;
}

td a {
	overflow:hidden;
	text-overflow:ellipsis;
	max-width:100%;
}

div.panel a:hover {
	text-decoration:none;
}

td input.number {
	max-width:50%;
	margin-left:25%;
}

td button.btn-success, button.btn-danger {
	width:20%;
	margin-left:40%;
}